<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>My RRA Taxpayer Branches(Add Form)</title>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: pre-loader"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<th:block th:include="fragments/header :: navbar-top"></th:block>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:include="fragments/header :: navbar-left"></th:block>

					<div class="pcoded-content">
						<!-- Page-header start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-8">
										<div class="page-header-title">
											<h5 class="m-b-10">Dashboard</h5>
											<p class="m-b-0">Welcome to My RRA</p>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="breadcrumb-title">
											<li class="breadcrumb-item"><a href="index.html"> <em
													class="fa fa-home"></em>
											</a></li>
											<li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">
										<!-- Input Alignment card start -->
										<div class="card">
											<div class="card-header">
												<h5>Add Branch</h5>
											</div>
											<div class="card-block">
												<form th:object="${branchDto}"
													th:action="@{/academicSubjects/new/}" method="post">
													<input type="hidden" th:field="*{id}" />
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="branchId" th:text="#{branchId}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{branchId}" id="branchId"
																class="form-control form-control-bold"
																placeholder="branchId"> <span class="col-form-label"
																th:if="${#fields.hasErrors('branchId')}" th:errors="*{branchId}"></span>
														</div>
													</div>
													 <div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="branchName" th:text="#{branchName}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{branchName}" id="branchName"
																class="form-control form-control-bold"
																placeholder="branchName"> <span class="col-form-label"
																th:if="${#fields.hasErrors('branchName')}" th:errors="*{branchName}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="branchStatusCode" th:text="#{branchStatusCode}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{branchStatusCode}" id="branchStatusCode"
																class="form-control form-control-bold"
																placeholder="branchStatusCode"> <span class="col-form-label"
																th:if="${#fields.hasErrors('branchStatusCode')}" th:errors="*{branchStatusCode}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="provinceName" th:text="#{provinceName}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{provinceName}" id="provinceName"
																class="form-control form-control-bold"
																placeholder="provinceName"> <span class="col-form-label"
																th:if="${#fields.hasErrors('provinceName')}" th:errors="*{provinceName}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="districtName" th:text="#{districtName}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{districtName}" id="districtName"
																class="form-control form-control-bold"
																placeholder="districtName"> <span class="col-form-label"
																th:if="${#fields.hasErrors('districtName')}" th:errors="*{districtName}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="sectorName" th:text="#{sectorName}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{sectorName}" id="sectorName"
																class="form-control form-control-bold"
																placeholder="sectorName"> <span class="col-form-label"
																th:if="${#fields.hasErrors('sectorName')}" th:errors="*{sectorName}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="locationDescription" th:text="#{locationDescription}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{locationDescription}" id="locationDescription"
																class="form-control form-control-bold"
																placeholder="locationDescription"> <span class="col-form-label"
																th:if="${#fields.hasErrors('locationDescription')}" th:errors="*{locationDescription}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="headQuarter" th:text="#{headQuarter}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{headQuarter}" id="headQuarter"
																class="form-control form-control-bold"
																placeholder="headQuarter"> <span class="col-form-label"
																th:if="${#fields.hasErrors('headQuarter')}" th:errors="*{headQuarter}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="managerName" th:text="#{managerName}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{managerName}" id="managerName"
																class="form-control form-control-bold"
																placeholder="managerName"> <span class="col-form-label"
																th:if="${#fields.hasErrors('managerName')}" th:errors="*{managerName}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="managerContactNumber" th:text="#{managerContactNumber}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{managerContactNumber}" id="managerContactNumber"
																class="form-control form-control-bold"
																placeholder="managerContactNumber"> <span class="col-form-label"
																th:if="${#fields.hasErrors('managerContactNumber')}" th:errors="*{managerContactNumber}"></span>
														</div>
													</div>
													<div class="form-group row row">
														<label class="col-sm-2 col-form-label" for="manageEmail" th:text="#{manageEmail}"></label>
														<div class="col-sm-4 has-danger ">
															<input type="text" th:field="*{manageEmail}" id="manageEmail"
																class="form-control form-control-bold"
																placeholder="manageEmail"> <span class="col-form-label"
																th:if="${#fields.hasErrors('manageEmail')}" th:errors="*{manageEmail}"></span>
														</div>
													</div>
													<div class="card-block">
														<button type="submit"
															class="btn btn-success btn-round waves-effect waves-light"
															th:text="#{button.register}"></button>

														<a href="#" th:href="@{/academicSubjects/list}"
															class="btn btn-danger btn-round waves-effect waves-light"
															th:text="#{button.cancel}"></a>
													</div>
													
												</form>
											</div>
										</div>
										<!-- Input Alignment card end -->

									</div>
									<!-- Page-body end -->
								</div>
								<div id="styleSelector"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/header :: footer"></th:block>
</body>

</html>
