<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>My RRA Platform Invoice Details</title>
<th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: pre-loader"></th:block>
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<th:block th:include="fragments/header :: navbar-top"></th:block>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:include="fragments/header :: navbar-left"></th:block>

					<div class="pcoded-content">
						<!-- Page-header start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-8">
										<div class="page-header-title">
											<h5 class="m-b-10">Dashboard</h5>
											<p class="m-b-0">Welcome to My RRA</p>
										</div>
									</div>
									<div class="col-md-4">
										<ul class="breadcrumb-title">
											<li class="breadcrumb-item"><a href="#" th:href="@{/}">
													<em class="fa fa-home"></em>
											</a></li>
											<li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page body start -->
									<div class="page-body">
										<!-- Container-fluid starts -->
										<div class="container">
											<!-- Main content starts -->
											<div>
												<!-- Invoice card start -->
												<div class="card">
													<div class="row invoice-contact">
														<div class="col-md-8">
															<div class="invoice-box row">
																<div class="col-sm-12">
																	<table
																		class="table table-responsive invoice-table table-borderless">
																		<caption></caption>
																		<tbody>
																			<tr>
																				<td><img
																					th:src="@{/assets/images/manga_logo.jpg}"
																					class="m-b-10" alt="" /></td>
																			</tr>
																			<tr>
																				<td>Company Name</td>
																			</tr>
																			<tr>
																				<td>1065 Mandan Road, Columbia MO, Missouri.
																					(123)-65202</td>
																			</tr>
																			<tr>
																				<td><a href="mailto:demo@gmail.com"
																					target="_top">demo@gmail.com</a></td>
																			</tr>
																			<tr>
																				<td>+91 919-91-91-919</td>
																			</tr>

																		</tbody>
																	</table>
																</div>
															</div>
														</div>
														<div class="col-md-4"></div>
													</div>
													<div class="card-block">
														<div class="row invoive-info">
															<div class="col-md-4 col-xs-12 invoice-client-info">
																<h6>Client Information :</h6>
																<h6 class="m-0">Josephin Villa</h6>
																<p class="m-0 m-t-10">1065 Mandan Road, Columbia MO,
																	Missouri. (123)-65202</p>
																<p class="m-0">(1234) - 567891</p>
																<p>demo@xyz.com</p>
															</div>
															<div class="col-md-4 col-xs-12 ">
																<h6>Order Information :</h6>
																<table
																	class="table table-responsive invoice-table invoice-order table-borderless">
																	<caption></caption>
																	<tbody>
																		<tr>
																			<th scope="row">Date :</th>
																			<td>November 14</td>
																		</tr>
																		<tr>
																			<th scope="row">Status :</th>
																			<td><span class="label label-warning">Pending</span>
																			</td>
																		</tr>
																		<tr>
																			<th scope="row">Id :</th>
																			<td>#145698</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="col-md-4 col-xs-12">
																<h6 class="m-b-20">
																	Invoice Number <span>#12398521473</span>
																</h6>
																<h6 class="text-uppercase text-primary">
																	Total Due : <span>$900.00</span>
																</h6>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<div class="table-responsive">
																	<table class="table  invoice-detail-table">
																		<caption></caption>
																		<thead>
																			<tr class="thead-default">
																				<th scope="row">Description</th>
																				<th scope="row">Quantity</th>
																				<th scope="row">Unit Price</th>
																				<th scope="row">Total</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="item : ${invoice.saleItems}">
																				<td>
																					<h6 th:text="${item.itemName}+'/'+${item.taxLabel}"></h6>
																				</td>
																				<td th:text="${item.quantity}"></td>
																				<td th:text="${item.saleUnitPrice}"></td>
																				<td th:text="${item.totalAmount}"></td>
																			</tr>

																		</tbody>
																	</table>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6 invoice-client-info">
																<h6>SDC INFORMATION :</h6>
																<p class="m-0 m-t-10">----------------------------------------</p>
																<h6 class="m-0">
																	SDC&#160;<span
																		th:text="${T(rw.mangatek.ebm2.core.ui.util.JournalFormatter).formateDateAndTimeStringWithSlash(invoice.ebmReceipt.vsdcDate)}"></span>
																</h6>
																<p class="m-0 m-t-10">
																	SDC ID:<span th:text="${invoice.ebmReceipt.sdcId}"></span>
																</p>
																<p class="m-0">
																	RECEIPT NUMBER:<span
																		th:text="${invoice.ebmReceipt.vsdcReceiptNumber}+'/'+${invoice.ebmReceipt.vsdcTotalReceiptNumber}"></span><span>&#160;</span><span
																		th:text="${invoice.receiptType}+''+${invoice.transactionType}"></span>
																</p>
																<p class="m-0">
																	Internal Data:<span
																		th:text="${T(rw.mangatek.ebm2.core.ui.util.JournalFormatter).formateStringWithSlash(invoice.ebmReceipt.vsdcInternalData)}"></span>

																</p>
																<p class="m-0">
																	Signature:<span
																		th:text="${T(rw.mangatek.ebm2.core.ui.util.JournalFormatter).formateStringWithSlash(invoice.ebmReceipt.vsdcSignature)}"></span>
																</p>
																<p class="m-0 m-t-10">----------------------------------------</p>
																<p class="m-0">
																	RECEIPT NUMBER:<span th:text="${invoice.invoiceNumber}"></span>
																</p>
																<h6 class="m-0">
																	CIS&#160;<span
																		th:text="${T(rw.mangatek.ebm2.core.ui.util.JournalFormatter).formateDateAndTimeStringWithSlash(invoice.cisDate)}"></span>
																</h6>
																<h6 class="m-0">
																	MRC:<span th:text="${invoice.ebmReceipt.mrc}"></span>
																</h6>
															</div>
															<div class="col-sm-6">

																<table
																	class="table table-responsive invoice-table invoice-total">
																	<caption></caption>
																	<tbody>
																		<tr>
																			<th scope="row">Sub Total :</th>
																			<td>$4725.00</td>
																		</tr>
																		<tr>
																			<th scope="row">Taxes (10%) :</th>
																			<td>$57.00</td>
																		</tr>
																		<tr>
																			<th scope="row">Discount (5%) :</th>
																			<td>$45.00</td>
																		</tr>
																		<tr class="text-info">
																			<td>
																				<hr />
																				<h5 class="text-primary">Total :</h5>
																			</td>
																			<td>
																				<hr />
																				<h5 class="text-primary">$4827.00</h5>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<h6>Terms And Condition :</h6>
																<p>lorem ipsum dolor sit amet, consectetur
																	adipisicing elit, sed do eiusmod tempor incididunt ut
																	labore et dolore magna aliqua. Ut enim ad minim veniam,
																	quis nostrud exercitation ullamco laboris nisi ut
																	aliquip ex ea commodo consequat. Duis aute irure dolor
																</p>
															</div>
														</div>
													</div>
												</div>
												<!-- Invoice card end -->
												<div class="row text-center">
													<div class="col-sm-12 invoice-btn-group text-center">
														<button type="button"
															class="btn btn-primary btn-print-invoice m-b-10 btn-sm waves-effect waves-light m-r-20">Print</button>
														<button type="button"
															class="btn btn-danger waves-effect m-b-10 btn-sm waves-light">Cancel</button>
													</div>
												</div>
											</div>
										</div>
										<!-- Container ends -->
									</div>
									<!-- Page body end -->
								</div>
								<div id="styleSelector"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/header :: footer"></th:block>
	<input type="hidden" id="urlAjax" th:value="@{'/items/load-products/'}" />
	<script th:replace="invoices/js/autocomplete-products :: javascript"></script>
</body>

</html>
